learn-up/n8n-workflows/tutor_approval.json
{
  "name": "Tutor Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tutor-approval",
        "options": {}
      },
      "id": "e248b6bc-26f5-4702-8a9d-b481b4f420cf",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d",
      "notes": "Learn Up enviará POST a: https://<tu-n8n>/webhook/tutor-approval\nBody: { user_id, email, full_name, requested_at }"
    },
    {
      "parameters": {
        "text": "=# 🎓 Nueva Solicitud de Profesor — Learn Up\n\n👤 Usuario: {{$json.body.full_name || $json.body.user_id}}\n📧 Email: {{$json.body.email}}\n🆔 ID: {{$json.body.user_id}}\n🕐 Solicitado: {{$json.body.requested_at}}\n\nAprueba o rechaza con los botones:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            [
              { "text": "✅ Aprobar como Profesor", "callback_data": "approve_{{$json.body.user_id}}" },
              { "text": "❌ Rechazar", "callback_data": "reject_{{$json.body.user_id}}" }
            ]
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c622d64a-29e3-4d69-a1fc-8c43491d9d4a",
      "name": "Notify Admin via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [440, 300],
      "notes": "Configura: TELEGRAM_BOT_TOKEN y TELEGRAM_ADMIN_CHAT_ID en las credenciales de n8n"
    },
    {
      "parameters": {
        "updates": ["callback_query"]
      },
      "id": "7f8b9e6e-3c22-482f-bfa4-4d8ab0e6f6a7",
      "name": "Wait for Admin Decision",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [660, 300],
      "notes": "Espera que el admin pulse Aprobar o Rechazar en Telegram"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.callback_query.data.split('_')[0]}}",
              "operation": "equal",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Check Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LEARN_UP_BASE_URL}}/api/n8n/tutor-callback",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-n8n-secret", "value": "={{$env.N8N_CALLBACK_SECRET}}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "user_id", "value": "={{$json.message.callback_query.data.split('_')[1]}}" },
            { "name": "approved", "value": "=true" },
            { "name": "new_role", "value": "profesor" }
          ]
        }
      },
      "id": "f5f0b8a4-0466-417d-8158-b0a5f97e6417",
      "name": "Callback: Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 200],
      "notes": "Env vars requeridas en n8n:\n- LEARN_UP_BASE_URL = https://learn-up.onrender.com\n- N8N_CALLBACK_SECRET = (mismo valor que N8N_CALLBACK_SECRET en .env de Learn Up)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LEARN_UP_BASE_URL}}/api/n8n/tutor-callback",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-n8n-secret", "value": "={{$env.N8N_CALLBACK_SECRET}}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "user_id", "value": "={{$json.message.callback_query.data.split('_')[1]}}" },
            { "name": "approved", "value": "=false" },
            { "name": "new_role", "value": "estudiante" }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0123-def4-567890abcdef",
      "name": "Callback: Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Notify Admin via Telegram", "type": "main", "index": 0 }]]
    },
    "Wait for Admin Decision": {
      "main": [[{ "node": "Check Decision", "type": "main", "index": 0 }]]
    },
    "Check Decision": {
      "main": [
        [{ "node": "Callback: Approved", "type": "main", "index": 0 }],
        [{ "node": "Callback: Rejected", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9b8b8a4-0466-417d-8158-b0a5f97e6417",
  "_readme": {
    "variables_needed": {
      "in_n8n": ["LEARN_UP_BASE_URL", "N8N_CALLBACK_SECRET"],
      "in_learn_up_env": ["N8N_WEBHOOK_URL", "N8N_CALLBACK_SECRET"]
    },
    "setup_steps": [
      "1. Importar este JSON en tu instancia de n8n",
      "2. Configurar credencial de Telegram con tu bot token",
      "3. Agregar variables de entorno en n8n: LEARN_UP_BASE_URL y N8N_CALLBACK_SECRET",
      "4. Agregar en .env de Learn Up: N8N_WEBHOOK_URL=https://<tu-n8n>/webhook/tutor-approval",
      "5. Agregar en .env de Learn Up: N8N_CALLBACK_SECRET=<secreto-compartido>",
      "6. Activar el workflow en n8n"
    ]
  }
}
