learn-up/cloud-workflows/tutor_approval_make.json
{
  "name": "Learn Up - Tutor Approval (Yoti)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 123456
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway:CustomWebHook",
            "label": "Webhook"
          }
        ],
        "expect": [
          {
            "name": "email",
            "type": "text",
            "label": "Email del usuario"
          },
          {
            "name": "userId",
            "type": "text",
            "label": "ID del usuario en Supabase"
          },
          {
            "name": "fullName",
            "type": "text",
            "label": "Nombre completo"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "google-email:ActionSendAnEmail",
      "version": 1,
      "parameters": {
        "account": "__IMAPGMAIL_CONNECTION__"
      },
      "mapper": {
        "to": "{{1.email}}",
        "cc": "",
        "bcc": "",
        "from": "",
        "subject": "Verifica tu identidad con Yoti para ser Docente en Learn Up",
        "content": "<div style=\"font-family: 'Inter', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 30px; background: #0a0a0a; border-radius: 16px; border: 1px solid #d4af3733;\">\n  <div style=\"text-align: center; margin-bottom: 24px;\">\n    <h1 style=\"color: #d4af37; font-size: 28px; margin: 0;\">Learn Up</h1>\n    <p style=\"color: #888; font-size: 14px;\">Plataforma Educativa</p>\n  </div>\n  <h2 style=\"color: #ffffff; font-size: 20px;\">¡Hola {{1.fullName}}!</h2>\n  <p style=\"color: #cccccc; line-height: 1.6;\">Gracias por querer ser docente en Learn Up. Para asegurar la calidad de nuestra comunidad educativa, necesitamos verificar tu identidad.</p>\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"https://yoti.com/verificar\" style=\"display: inline-block; padding: 14px 32px; background: linear-gradient(135deg, #d4af37, #f3e5ab); color: #0a0a0a; text-decoration: none; border-radius: 12px; font-weight: bold; font-size: 16px;\">Verificar con Yoti</a>\n  </div>\n  <p style=\"color: #888; font-size: 12px; text-align: center;\">Si no solicitaste ser docente, ignora este correo.</p>\n</div>",
        "attachments": []
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false
      },
      "mapper": {
        "url": "https://TU_PROYECTO.supabase.co/rest/v1/profiles?id=eq.{{1.userId}}",
        "serializeUrl": false,
        "method": "patch",
        "headers": [
          {
            "name": "apikey",
            "value": "TU_SUPABASE_SERVICE_KEY"
          },
          {
            "name": "Authorization",
            "value": "Bearer TU_SUPABASE_SERVICE_KEY"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Prefer",
            "value": "return=minimal"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": false,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\"role\": \"profesor\"}",
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
